<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Manage', seller_path, class: "btn btn-secondary" %>
<p></p>
<p><%= link_to 'Back', products_path, class: "btn btn-warning" %></p>
