<h1>Search Results</h1>
    <% @results.each do |result| %>  
        <p><%= link_to result.name, show_product_path(result) %></p>
    <% end %>
<%= link_to 'Back', products_path, class: "btn btn-outline-warning" %>