<div class="card bg-dark text-white">
    <img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1622047360/home_acy4no.gif" class="card-img" alt="...">
        <div class="card-img-overlay">
        <h5 class="card-title">About Us</h5>
        <p class="card-text">Digital Art trading centre by us is an online marketplace that serves users to trade their works freely.</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Enjoy with us!!</h5>
        <p class="card-text">Find the product on the product page or click the link below.</p>
        <h4 class="text" style="font-size: 2vw; line-height: 1px; color: white; position: relative;">
        <%= link_to "Product", '/products', class: "btn btn-outline-light" %>
        </h4>
    </div>
</div>
