<div class="container-fluid">
<p><img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1622047963/error404_ccgf49.gif" alt="" width="100%"></p>
<%= link_to 'Back', root_path, class: "btn btn-outline-warning" %>
</div>
<br>