<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
    <ul class="navbar-nav mr-auto">
    <a class="navbar-brand">
    <%= link_to root_path do %>
    <img src="https://res.cloudinary.com/ddqegwuzs/image/upload/v1621580383/Vspace_gfo16b.png" alt="" width="40" height="40">
    <% end %>
    </a>
        <li class="navbar-brand mb-0 h1">
        <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="navbar-brand mb-0 h1">
        <%= link_to "Product", products_path, class: "nav-link" %>
    </li>
    </ul>
    </div>
</nav>
